[phases.setup]
nixPkgs = ["nodejs_18", "npm"]

[phases.install]
cwd = "server"
cmds = ["npm install"]

[phases.build]
cwd = "client"
cmds = ["npm install", "npm run build"]

[phases.copy_client_to_server]
cmds = ["mkdir -p server/public", "cp -r client/dist/* server/public/"]

[start]
cmd = "node server/index.js"

