[phases.setup]
nixPkgs = ["nodejs_18"]

[phases.install_client]
cwd = "client"
cmds = ["npm install"]

[phases.build_client]
cwd = "client"
cmds = ["npm run build"]

[phases.install_server]
cwd = "server"
cmds = ["npm install"]

[phases.copy_client_to_server]
cmds = ["cp -r client/dist server/public"]

[start]
cmd = "node server/index.js"
